body {
    font-family: 'Outfit', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #f0f0f0, #e0e0e0);
    color: navy;
    box-sizing: border-box;
}

header {
    padding: 5px 166px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.logo {
    height: 80px;
    margin-right: 50px;
}

nav {
    flex-grow: 1.5;
    display: flex;
    justify-content: center;
}

nav a {
    margin: 0 20px;
    font-size: 28px;
    color: navy;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, border-bottom 0.3s;
    padding-bottom: 5px;
}

nav a:hover {
    color: blue;
    border-bottom: 2px solid blue;
}

.user-login {
    display: flex;
    align-items: center;
    color: navy;
    font-size: 22px;
    font-weight: 5px;
    padding: 0 20px;
}

.user-login .material-icons {
    margin-right: 10px;
}

#investmentHistoryTable .material-icons {
    font-size: 15px;
}

#activeInvestmentsTable .material-icons {
    font-size: 15px;
}


body, nav a, .user-login, .card h2, .card p {
    white-space: nowrap; /* Prevents text wrapping */
}

#profile-logo {
    height: 50px;
    padding: 0 15px;
}

hr {
    border: 0;
    height: 2px;
    background-color: navy;
    margin: 0;
    position: relative;
    top: -1px;
}


.content {
    padding: 50px 166px;
    max-width: 100%;
}

h1 {
    font-size: 44px;
    text-align: left;
    margin-left: 20px;
    margin-bottom: 40px;
    font-weight: 1200;
}

.holdings-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.card {
    background: rgba(60, 60, 90, 0.8);
    border-radius: 12px;
    padding: 20px;
    flex: 1;
    margin: 0 15px;
    color: white;
    text-align: center;
    border: 2px solid navy;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card h2 {
    margin-bottom: 10px;
    font-size: 22px;
}

.card p {
    font-size: 32px;
    font-weight: bold;
}

.glow {
    box-shadow: 0 0 15px rgba(0, 123, 255, 0.5);
}

.table-section {
    margin-bottom: 50px;
    position: relative;
}

.table-section h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.add-button {
    position: absolute;
    right: 0;
    top: -10px;
    background-color: #7d8597;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, color 0.3s;
}

.add-button:hover {
    background-color: white;
    color: #7d8597;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: rgba(60, 60, 90, 0.8);
    border-radius: 12px;
    color: white;
    border: none;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #d4d4d4;
    cursor: pointer;
}

thead {
    background: rgba(60, 60, 90, 0.9);
}

/* Popup Modal Styles */
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px); /* Added background blur */
}

.popup-content {
    background-color: white;
    margin: 15% auto;
    padding: 30px;
    border: none; /* Removed border */
    width: 80%;
    max-width: 400px;
    border-radius: 15px; /* More rounded corners */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Added shadow */
}

.popup-content h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    color: navy;
    margin-bottom: 20px;
    text-align: center;
}

#investmentForm label {
    font-size: 16px;
    font-weight: bold;
    color: navy;
    margin-bottom: 8px;
    display: block;
}

#investmentForm input, 
#investmentForm select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
    outline: none;
    transition: border-color 0.3s;
}

#investmentForm input:focus,
#investmentForm select:focus {
    border-color: navy;
}

#investmentForm input::placeholder {
    color: #aaa;
    font-style: italic;
}

#investmentForm select {
    appearance: none;
    background-color: white;
    cursor: pointer;
}

#investmentForm label,
#investmentForm input,
#investmentForm select,
#investmentForm button {
    display: block;
    width: 100%; /* Ensure that elements take the full width */
    margin-bottom: 15px; /* Add space between elements */
}

button[type="submit"] {
    background-color: navy;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: darkblue;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.blur-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    z-index: 10;
}

/* Style the login popup */
.login-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 20;
}

.login-logo {
    display: block;
    margin: 0 auto 20px;
    width: 50px;
    height: 50px;
}

.login-container h2 {
    text-align: center;
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    color: navy;
    margin-bottom: 20px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: navy;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
}

.login-container button:hover {
    background-color: darkblue;
}

/* Chip Styles */
.chip {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 14x;
    color: white;
    font-family: "Roboto", "Sans-serif";
}

.chip-cryptocurrency {
    background-color: blue;
}

.chip-on-hand {
    background-color: green;
}

.chip-business {
    background-color: #8b4513; /* Light brown */
}

.chip-in-wallet {
    background-color: yellow;
    color: black;
}

.chip-holding {
    background-color: yellow;
    color: black;
}

.chip-pending {
    background-color: red;
}

.chip-available {
    background-color: green;
}


@media (max-width: 1024px) {
    header, hr, .content {
        padding-left: 10px;
        padding-right: 10px;
    }

    .logo {
        height: 60px; /* Reduce logo size */
        width: auto;
        margin-left: 15px;
        margin-right: 10px;
    }


    .header-content > * {
        width: auto; /* Make each item take full width */
    }

    nav {
        flex-direction: flex; /* Stack navigation links vertically */
        margin-left: 0px;
    }

    nav a {
        margin: 5px 10px; /* Adjust margins for vertical stacking */
        font-size: 4vw; /* Smaller font size */
    }

    .user-login {
        display: none; /* Hide user login on small screens */
    }

    .holdings-cards {
        flex-wrap: nowrap; /* Allow cards to wrap onto next line if necessary */
        scale: 65%;
        margin: -35px -25vw;
        padding: -5%;
    }

    .card {
        margin: 0px 0; /* Adjust card margins */
        scale: 85%;
    }

    #holdings h1 {
        font-size: 22px;
        margin-bottom: 5px;
        margin-top: -30px;
    }

    table {
        font-size: 10px; /* Smaller font size for table text */
        flex-wrap: nowrap;
    }

    th, td {
        padding: 5px; /* Slightly reduced padding */
        white-space: normal;
        max-width: 50px;
        word-wrap: break-word;
        font-family: 'Roboto', sans-serif;
        font-weight: 100;
    }

    .table-section h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .card h2 {
        font-size: 20px; /* Smaller heading size inside cards */
    }

    .card p {
        font-size: 28px; /* Adjust paragraph size inside cards */
    }

    #delete-toggle-button.active {
        background-color: red;
        color: white;
    }
}

@media (max-width: 480px) {
    .holdings-cards {
        flex-wrap: nowrap; /* Allow cards to wrap onto next line if necessary */
        scale: 55%;
        margin: -35px -35vw;
        padding: -5%;
    }

    .popup-content {
        scale: 65%;
        margin-top: -50px;
    }

    .amount, .pool, .delete {
        display: none;
    }
    
    #active-investments-table tr[data-hover]:after {
        content: attr(data-hover);
        position: absolute;
        background: #333;
        color: white;
        padding: 5px;
        border-radius: 5px;
        top: 100%;
        left: 0;
        white-space: nowrap;
    }
}